@font-face{
    font-family: LakeB;
    src: url('../fonts/TTLakes-Bold.ttf');
}

@font-face{
    font-family: Lakes;
    src: url('../fonts/TTLakes-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #F2F2F2;
    margin: 0 auto;
 }


.header{
    display: flex;
    background:linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 16px;
}

@media(min-width: 768px){
  .header{
    display: flex;
    background:linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 15px 406px 15px 24px;
}
}

.header__title{
    height: 48px;
    font-family: Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
}

.swiper {
    width: 300px;
    height: 100px;
    margin-top: 16px;
    background-color: #F2F2F2;
}

#btn{
    position: absolute;
    opacity: 0;
    top: -999px
}

@media(min-width: 768px){
.swiper{
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: static !important;
    overflow: visible !important;
    list-style: none !important;
    padding: 0 !important;
    z-index: 1 !important;
    width: 100% !important;
}
.swiper-wrapper{
    position: static !important;
    width: 100% !important;
    height: 160px !important;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    margin-left: 1em;
    overflow: hidden;
    align-content: flex-start !important;
    justify-content: flex-start !important;
}
.swiper-slide {
    flex-shrink: 0;
    width: 224px !important;
    height: 72px !important;
    position: static !important;
    transition-property: transform;
}

.rmd{
    cursor: pointer;
    display: inline-block;
    margin: 24px 0 0 32px;
  }
  
  .rmd::after{
    content: url('../img/icon.svg') "\00a0\00a0\00a0\00a0\00a0Показать полностью";
    font-family: Lakes;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    
  }
  
  #btn:checked ~ .rmd::after{
    content: url('../img/iconUp.svg') "\00a0\00a0\00a0\00a0\00aСкрыть" ;
    font-family: Lakes;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
  
  #btn:checked ~ .swiper-wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px 24px;
    height: 360px !important;
    overflow: hidden;
    align-content: flex-start !important;
    justify-content: flex-start !important;
}
}


@media(min-width: 1120px){
    .swiper{
        margin:auto;
        position: static !important;
        overflow: visible !important;
        list-style: none !important;
        padding: 0 !important;
        z-index: 1 !important;
        width: 100% !important;
    }
    .swiper-wrapper{
        position: static !important;
        width: 100% !important;
        height: 160px !important;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        margin: 1em;
        overflow: hidden;
        align-content: flex-start !important;
        justify-content: flex-start !important;
    }
    .swiper-slide {
        flex-shrink: 0;
        width: 240px !important;
        height: 72px !important;
        position: static !important;
        transition-property: transform;
    }
    
    .rmd{
        cursor: pointer;
        display: inline-block;
        margin: 24px 0 0 32px;
      }
      
      .rmd::after{
        content: url('../img/icon.svg') "\00a0\00a0\00a0\00a0\00a0Показать полностью";
        font-family: Lakes;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        
      }
      
      #btn:checked ~ .rmd::after{
        content: url('../img/iconUp.svg') "\00a0\00a0\00a0\00a0\00aСкрыть" ;
        font-family: Lakes;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
}}
@media(min-width: 1120px){
.swiper-wrapper__active{
    position: static !important;
    width: 100% !important;
    height: 260px !important;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    overflow: hidden;
    align-content: flex-start !important;
    justify-content: flex-start !important;
}
}



.span{
    background: url('../img/1.5/back.svg') no-repeat;
    width: 240px;
    height: 72px;
    display: flex;
}

.inSpan{
    background: url('../img/1.5/go.svg') no-repeat;
    width: 40px;
    height: 40px;
    display: inline;
    margin: 16px 16px 16px 0;
}

.span__logo.lenovo{
    width: 108px;
    height: 32px;
    display: inline;
    background: url('../img/1.5/Lenovo.svg') no-repeat;
    margin: 20px 60px 20px 16px;
    }
.samsung{
        width: 116px;
        height: 42px;
        display: inline;
        background: url('../img/1.5/Samsung.svg') no-repeat;
        margin: 14px 36px 14px 14px;
    }
.apple{
    width: 44px;
    height: 44px;
    display: inline;
    background: url('../img/1.5/Apple.svg') no-repeat;
    margin: 12px 108px 16px 16px;
    }
.bosch{
    width: 128px;
    height: 29px;
    display: inline;
    background: url('../img/1.5/Bosch.svg') no-repeat;
    margin: 21px 24px 24px 16px;
    }
.hp{
        width: 52px;
        height: 52px;
        display: inline;
        background: url('../img/1.5/Hp.svg') no-repeat;
        margin: 10px;
        margin-right: 106px;
    }

.accer{
        width: 94px;
        height: 24px;
        display: inline;
        background: url('../img/1.5/Accer.svg') no-repeat;
        margin: 24px 58px 24px 16px;
    }

.sony{
        width: 128px;
        height: 25.5px;
        display: inline;
        background: url('../img/1.5/Sony.svg') no-repeat;
        margin: 23px 42px 23px 14px;
} 

@media(min-width: 768px){
    .span{
        background: url('../img/1.5/back.svg') no-repeat;
        width: 224px;
        height: 72px;
        display: flex;
        
    }
    
    .inSpan{
        background: url('../img/1.5/go.svg') no-repeat;
        width: 40px;
        height: 40px;
        display: inline;
        margin: 16px 16px 16px 0;
    }
    
    .span__logo.lenovo{
        width: 108px;
        height: 32px;
        display: inline;
        background: url('../img/1.5/Lenovo.svg') no-repeat;
        margin: 20px 44px 20px 16px;
        }
    .samsung{
            width: 116px;
            height: 42px;
            display: inline;
            background: url('../img/1.5/Samsung.svg') no-repeat;
            margin: 14px 36px 14px 14px;
        }
    .apple{
        width: 44px;
        height: 44px;
        display: inline;
        background: url('../img/1.5/Apple.svg') no-repeat;
        margin: 12px 108px 16px 16px;
        }
    .bosch{
        width: 128px;
        height: 29px;
        display: inline;
        background: url('../img/1.5/Bosch.svg') no-repeat;
        margin: 21px 24px 24px 16px;
        }
    .hp{
            width: 52px;
            height: 52px;
            display: inline;
            background: url('../img/1.5/Hp.svg') no-repeat;
            margin: 10px;
            margin-right: 106px;
        }
    
    .accer{
            width: 94px;
            height: 24px;
            display: inline;
            background: url('../img/1.5/Accer.svg') no-repeat;
            margin: 24px 58px 24px 16px;
        }
    
    .sony{
            width: 125px;
            height: 25.5px;
            display: inline;
            background: url('../img/1.5/Sony.svg') no-repeat;
            margin: 23px 29px 23px 14px;
    } 
}

@media(min-width: 1120px){
    .span{
        background: url('../img/1.5/back.svg') no-repeat;
        width: 240px;
        height: 72px;
        display: flex;
        
    }
    
    .inSpan{
        background: url('../img/1.5/go.svg') no-repeat;
        width: 40px;
        height: 40px;
        display: inline;
        margin: 16px 16px 16px 0;
    }
    
    .span__logo.lenovo{
        width: 108px;
        height: 32px;
        display: inline;
        background: url('../img/1.5/Lenovo.svg') no-repeat;
        margin: 20px 44px 20px 16px;
        }
    .samsung{
            width: 116px;
            height: 42px;
            display: inline;
            background: url('../img/1.5/Samsung.svg') no-repeat;
            margin: 14px 36px 14px 14px;
        }
    .apple{
        width: 44px;
        height: 44px;
        display: inline;
        background: url('../img/1.5/Apple.svg') no-repeat;
        margin: 12px 108px 16px 16px;
        }
    .bosch{
        width: 128px;
        height: 29px;
        display: inline;
        background: url('../img/1.5/Bosch.svg') no-repeat;
        margin: 21px 24px 24px 16px;
        }
    .hp{
            width: 52px;
            height: 52px;
            display: inline;
            background: url('../img/1.5/Hp.svg') no-repeat;
            margin: 10px;
            margin-right: 106px;
        }
    
    .accer{
            width: 94px;
            height: 24px;
            display: inline;
            background: url('../img/1.5/Accer.svg') no-repeat;
            margin: 24px 58px 24px 16px;
        }
    
    .sony{
            width: 125px;
            height: 25.5px;
            display: inline;
            background: url('../img/1.5/Sony.svg') no-repeat;
            margin: 23px 29px 23px 14px;
    } 
}


.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    background-color: #DDDDDD !important;
    border-radius: 50% !important;
    opacity: 1 !important;    
}


.swiper-pagination-bullet-active{
    width: 12px !important;
    height: 12px !important;
    background-color:#B5B6BC !important;
    border-radius: 50% !important;   
   
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -3px !important;
    left: 20px !important;
    width: 100% !important;
}

.swiper-slide:hover .inSpan{
    box-shadow: inset 0 0 4px 4px #39c0a3;
    border-radius: 50%;
}

@media(min-width: 768px){
    .showMore__button{
        width: 135px;
        height: 34px;
        display: flex;
        margin: 10px 0 0 16px;
    }
    #btn {
        position: static;
        opacity: 1;
        top: 0;
        font-family: Lakes;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }


    .showMore__button-arrow{
        background:  url("../img/icon.svg") no-repeat;;
        margin-left: 10px;
        margin-top: 7px;
        width: 10px;
        height: 20px;
        background-color:  #F2F2F2;
}

.showMore__button-arrow__active{
    background:  url("../img/iconUp.svg") no-repeat;
    margin-left: 10px;
    margin-top: 7px;
    width: 10px;
    height: 20px;
    background-color:  #F2F2F2;
}

.swiper-wrapper__active{
    position: static !important;
    width: 100% !important;
    height: 260px !important;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    margin-left: 1em;
    overflow: hidden;
    align-content: flex-start !important;
    justify-content: flex-start !important;
    }

.showMore__button-text-active{
   display: none;
}

.showMore__button-hidden{
    display: none;
}

.showMore__button-hidden-active{
    display: inline;
}

}