@font-face{
    font-family: Lakes;
    src: url('../fonts/TTLakes-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
	width: 320px;
	height: 1024px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

header{
	display: flex;
}



.header__close{
	margin: 23px 16.73px 0 24px;
}

.header__close:hover{
	opacity: 0.6;
}

.header__logo{
	width: 97px;
	height: 51px;
	margin: 18.73px 78.27px 0 0;
}

.header__search{
	margin-top: 23px;
}

.header__search:hover{
	opacity: 0.6;
}

.title{
	display: flex;
}



.title__higtlight{
	width: 4px;
	height: 32px;
	margin: 46.46px 20px 0 0;
}

.text{
	font-family: Lakes;
}

.title__text{
	margin: 46.46px 0 0 0;
	size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7E7E82;
}

.title__text:hover{
	opacity: 1.1;
	cursor: pointer;
}

.list{
	display: flex;
	padding: 6px 0 0 0;
	color: #1B1C21;
	height: 722px;
	font-size: 16px;
	font-weight: 700;

}

ul{
    margin-top:22px;
}

ul li{
	list-style: none;
	line-height: 3.5;
	cursor: pointer;
   }

li:hover{
	opacity: 0.6;
	}

.footer__icon{
	display: flex;
	padding: 0 0 16px 17px;
	width: 176px;
	
}

.footer__icon-call{
    width: 40px;
    height: 40px;
    background-image: url("../img/call.svg");
    background-color: #ffffff;
    margin-left: 8px;
}

.footer__icon-chat{
    width: 40px;
    height: 40px;
    background-image: url("../img/chat.svg");
    background-color: #ffffff;
    margin-left: 15px;
}

.footer__icon-profile{
    width: 40px;
    height: 40px;
    background-image: url("../img/profile.svg");
    background-color: #ffffff;
    margin-left: 13px;
}

.footer__icon-call:hover,
.footer__icon-chat:hover,
.footer__icon-profile:hover{
	opacity: 0.6;
}

.box{
    display: flex;
    flex-direction: column;
}
.footer__e-mail{
	font-weight: 800;
	margin: 0 0 0 24px;
	color: #1B1C21;
}

.footer__e-mail:hover{
	opacity: 0.6;
	cursor: pointer;
}

.footer__phone{
	font-weight: 900;
	margin: 12px 0 0 24px;
	color: #1B1C21;
	font-size: 24px;
    margin-top: -3px;
}

.footer__phone:hover{
	opacity: 0.6;
	cursor: pointer;
}

.footer__lang{
	margin: 22px 0 0 24px;
	display: flex;
	font-weight: 800;
}

.footer__lang-ru:hover{
	opacity: 0.7;
	cursor: pointer;
}

.footer__lang-en:hover{
	opacity: 0.7;
	cursor: pointer;
}

.footer__lang-ch:hover{
	opacity: 0.7;
	cursor: pointer;
}

li{
    margin-left: 24px;
}
li:hover::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background-image: url(../img/highlight.svg);
    border-radius: 0 2px 2px 0;
   left: 1px;
}