@font-face{
    font-family: LakeB;
    src: url('../fonts/TTLakes-Bold.ttf');
}

@font-face{
    font-family: Lakes;
    src: url('../fonts/TTLakes-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    margin: 0 auto;
    background-color: #F8F8F8;
}

@media(min-width: 768px){
    body{
        margin: 0 auto;
        background-color: #F8F8F8;
    }
}

@media(min-width: 1120px){
    body{
        margin: 0 auto;
        max-width: 1120px;
        background-color: #F8F8F8;
    }
}

header{
    background-color: #ffffff;
    
    height: 88px;
}

@media(min-width: 768px){
    header{
        background-color: #ffffff;
        
        height: 88px;
    }
}

@media(min-width: 1120px){
    header{
        display: none;
    }
}

.navigation{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.nav__button-burger{
    width: 40px;
    height: 40px;
    background-image: url('../img/burger.svg');
    background-color:  #ffffff;
    margin-top: 24px;
   }

   @media(min-width: 768px){
    .nav__button-burger{
        width: 40px;
        height: 40px;
        background-image: url('../img/burger.svg');
        background-color:  #ffffff;
        margin: 24px 20px 24px 24px;
   }
   }
   .nav__logo-img{
    width: 96.55px;
    height: 50.81px;
    margin-top: 18.59px;
    
   }

   @media(min-width: 768px){
    .nav__logo-img{
        width: 96.55px;
        height: 50.81px;
        margin: 18.59px 250.73px 0 20.73px;
       }
   }
   
   .dividerA{
   display: none;
   }

   @media(min-width: 768px){
    .dividerA{
        display: inline;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    margin: 28px 0px 0 0;
    border-radius: 1px;}
   }

   .dividerB{
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    margin-top: 28px;
    border-radius: 1px;
   }

   @media(min-width: 768px){
    .dividerB{ display: none;
   }
   }
/*Кнопки на планшете*/
   .nav__button-call{
    display: none;
   }
   
   .nav__button-chat{
    display: none;
   }

   .nav__button-call{
    display: none;}
   
   
   @media(min-width: 768px){
    .nav__button-call{ 
        display: block;
        width: 40px;
        height: 40px;
        background-image: url('../img/call.svg');
        background-color:  #ffffff;
        margin: 24px 16px 0 0;
        
    }
    .nav__button-chat{ 
        display: block;
        width: 40px;
        height: 40px;
        background-image: url('../img/chat.svg');
        background-color:  #ffffff;
        margin: 24px 16px 0 0;
   }
    .nav__button-profile{
        display: block;
        width: 40px;
        height: 40px;
        background-image: url('../img/profile.svg');
        background-color:  #ffffff;
        margin: 24px 20px 0 0;
   }
}
/*Конец кнопок на планшете*/

/*Общие кнопки*/
   .nav__button-repair{
    width: 40px;
    height: 40px;
    background-image: url('../img/repair.svg');
    background-color:  #ffffff;
    margin-top: 24px;
   }

   .nav__button-checkstatus{
    width: 40px;
    height: 40px;
    background-image: url('../img/checkstatus.svg');
    background-color:  #ffffff;
    margin-top: 24px;
   }

   @media(min-width: 768px){
        .nav__button-repair{
        width: 40px;
        height: 40px;
        background-image: url('../img/repair.svg');
        background-color:  #ffffff;
        margin: 24px 16px 0 20px;
       }
    
       .nav__button-checkstatus{
        width: 40px;
        height: 40px;
        background-image: url('../img/checkstatus.svg');
        background-color:  #ffffff;
        margin: 24px 16px 0 0;
       }
   }

/*Конец общих кнопок*/

/*Заголовок*/
   .main-title{
    display: flex;
   }

   .highlight{
    width: 4px;
    height: 40px;
    background: #41F6D7;
    margin: 24px 12px 0 0;
    border-radius: 0 2px 2px 0;
   }

   .main__title-text{
    font-family: 'LakeB';
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin: 24px 0 24px 0;
   }

   @media(min-width: 768px){
    .highlight{
        width: 4px;
        height: 40px;
        background: #41F6D7;
        margin: 24px 20px 0 0;
        border-radius: 0 2px 2px 0;
       }
    
    .main__title-text{
        font-family: 'LakeB';
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        margin: 24px 0 32px 0;
       }
}

@media(min-width: 1120px){
    .highlight{
        width: 3px;
        height: 40px;
        background: #41F6D7;
        margin: 42px 30px 0 0;
        border-radius: 0 2px 2px 0;
       }
    
    .main__title-text{
        font-family: 'LakeB';
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        margin: 42px 450px 0 0;
       }
}

    .title__pc{
    display: none;
}

    @media(min-width: 768px){
    .title__pc{
        display: none;
    }
}

    @media(min-width: 1120px){
    .title__pc{
        display: flex;
    }
}

.title__pc-text{
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin: 50px 8.5px 0 0;
    }

.title__button-repair{
        width: 40px;
        height: 40px;
        background-image: url('../img/repair.svg');
        background-color:#F8F8F8;
        margin: 42px 32px 0 0;
}

.title__button-checkstatus{
    width: 40px;
    height: 40px;
    background-image: url('../img/checkstatus.svg');
    background-color:#F8F8F8 ;
    margin: 42px 0px 0 0;
    }
   /*Конец заголовка*/

   ul li{
    list-style: none;
}

.scrolling {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 0px;
    height:  40px;
    }

.scrolling {
    -ms-overflow-style: none;
    scrollbar-width: none;
} 
.scrolling::-webkit-scrollbar {
    display: none;}

   /*Карточки списка*/
 .card {
     flex: 0 0 auto;
    margin: 8px 9.3px 8px 0px;
    font-family: 'Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
  }
     
  .card:nth-child(1) {
    flex: 0 0 auto;
    margin: 8px 39.87px 8px 32.54px;
    font-family: 'Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

  .card:hover{
    border: 2px solid #B8FFEC;
    border-radius: 5px 5px 5px 5px;
}

@media(min-width: 768px){
    .card {
        flex: 0 0 auto;
       margin: 8px 9.3px 8px 0px;
       font-family: 'Lakes';
       font-size: 16px;
       line-height: 24px;
       letter-spacing: -0.2px;
       color: #7E7E82;
     }
        
     .card:nth-child(1) {
       flex: 0 0 auto;
       margin: 8px 39.87px 8px 40.67px;
       font-family: 'Lakes';
       font-size: 16px;
       line-height: 24px;
       letter-spacing: -0.2px;
       color: #7E7E82;
   }
   
     .card:hover{
       border: 2px solid #B8FFEC;
       border-radius: 5px 5px 5px 5px;
   }  
}

@media(min-width: 1120px){
    .scrolling {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        border: 0px;
        height: 80px;
        
        }
    .card {
        flex: 0 0 auto;
       margin: 17px 32px 8px 0px;
       font-family: 'Lakes';
       font-size: 16px;
       line-height: 24px;
       letter-spacing: -0.2px;
       color: #7E7E82;
     }
        
     .card:nth-child(1) {
       flex: 0 0 auto;
       margin: 17px 39.87px 22px 40.67px;
       font-family: 'Lakes';
       font-size: 16px;
       line-height: 24px;
       letter-spacing: -0.2px;
       color: #7E7E82;
   }
   
   .card:nth-last-child(1) {
    flex: 0 0 auto;
    margin: 0px 39.87px 8px 40.67px;
    font-family: 'Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

     .card:hover{
       border: 2px solid #B8FFEC;
       border-radius: 5px 5px 5px 5px;
    }
}

/*Конец карточек списка*/

/*Основной текст*/
.main__text{
    display: flex;
    font-family: Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin: 24px 16px 16px 16px;
}

.main__text-4tablet{
    display: none;
}

.main__text-4pc{
    display: none;
}

@media(min-width: 768px){
    .main__text{
        display: flex;
        flex-direction: column;
        font-family: Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        margin: 32px 48px 10px 24px;
        width: 40%;
        height: 160px;
    }
    .main__text-4tablet{
        display: block;
        font-family: Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    .main__text-4pc{
        display: none;
    }
}

@media(min-width: 1120px){
    .main__text{
        display: flex;
        flex-direction: column;
        font-family: Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        margin: 25.22px 0 13.78px 34px;
        width: 490px;
        height: 160px;
    }
    .main__text-4tablet{
        display: block;
        font-family: Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    .main__text-4pc{
        display: inline;
        font-family: Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    }


/*Конец основного текста*/

/*Стрелочка "Читать далее"*/
.readMore{
    display: flex;
}

.readMore__arrow{
    width: 7.41px;
    height: 10.29px;
    background-image: url('../img/icon.svg');
    margin: 7.29px 16px 0 24.29px;
}

.readMore__text{
    font-family: Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
   
}
@media(min-width: 768px){
    .readMore{
        display: flex;
    }
    .readMore__arrow{
        width: 7.41px;
        height: 10.29px;
        background-image: url('../img/icon.svg');
        margin: 8px 16px 0 33px;
    }
    .readMore__text{
        font-family: Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        
       
    }
}

@media(min-width: 1120px){
    .readMore__arrow{
        width: 7.41px;
        height: 10.29px;
        background-image: url('../img/icon.svg');
        margin: 7px 16px 0 40.29px;
    }
    .readMore__text{
        font-family: Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
}

/*Конец  "Читать далее"*/


.img{
    width: 100%;
    height: 230px;
    margin-top: 15px;
}

@media(min-width: 768px){
    .img{
        width: 50%;
        height: 210px;
        margin-top: 15px;
        border-radius: 7px;
        float: right;
        position: relative;
        bottom: 210px;
        right: 25px;
    }         
}

@media(min-width: 1120px){
    .img{
        width: 531px;
        height: 310px;
        border-radius: 7px;
        float: right;
        position: relative;
        bottom: 221px;
        right: 27px;
    }         
}

label{
    cursor: pointer;
}